.enquireButton {
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: 1em;
	background-color: #0a5a92;
	border-radius: 2em;
	text-decoration: none;
	color: #fff;
	transition: all 0.1s ease-in-out;
	text-shadow: none !important;
	border: none;
	cursor: pointer;
}

.enquireButton:hover {
	background-color: #0066ff;
}

.enquirePopup {
	margin: 5rem;
	background-color: white;
	padding: 2rem;
	box-shadow: #000 0px 0px 20px;
}

.popup-overlay {
	background-color: #000000aa;
}

@keyframes body {
	0% {
		opacity: 0;
		box-shadow: 0 0 0 rgba(241, 241, 241, 0);
	}
	1% {
		opacity: 0;
		box-shadow: 0 0 0 rgba(241, 241, 241, 0);
	}
	100% {
		opacity: 1;
		box-shadow: 0 0 500px rgba(241, 241, 241, 0);
	}
}
.popup-content {
	-webkit-animation: body 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
	animation: body 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

@keyframes back {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.popup-overlay {
	-webkit-animation: back 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
	animation: back 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
