.linkActive {
	color: #ffffff !important;
	background-color: #0a5a92;
	border-radius: 0.2em;
	font-weight: bold;
}
.linkActive:hover {
	background-color: #5292bf !important;
}

nav {
	display: flex;
	justify-content: space-between;

	position: fixed;
	width: 100vw;
	height: 5.5em;
	transition: all 1s;
	z-index: 50;
}

.link {
	color: #000000;
	text-decoration: none;
	margin-left: 1em;
	font-family: 'arial';
	padding: 0.5em;
	transition: all 0.2s ease-in-out;
}

.link:hover {
	background-color: #ffffff44;
	color: #000000;
	border-radius: 0.5em;
}

.logo {
	margin: 1em;
}

.biglogo {
	transform: translate(calc(50vw - 50%), 15vh) scale(400%);
	background-color: #ffffff00 !important;
	pointer-events: none;
}

.logoDiv {
	height: 5.5em;

	width: 12em;

	transition: all 0.8s ease-in-out;
}

.logoDiv:hover {
	background-color: #ffffffff !important;
}

.biglogo:hover {
	background-color: #ffffff00 !important;
}

.links {
	margin: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.homeOverlay {
	position: absolute;
	width: 100vw;
	height: 50vh;
	background-image: linear-gradient(#ffffffff, #ffffff0f);
	background-size: 100% 100%;
	z-index: -100;
	transition: all 1s ease-in-out;
	pointer-events: none;
}

.hide {
	transform: translateY(-100%);
}

.mobileLinks {
	flex-direction: column;
	position: fixed;
	right: 0%;
	display: flex;
	justify-content: right;
	z-index: 2;
	margin: 1em;
	animation: hamburger 0.5s ease-in-out both;
}

.hamburger {
	background-color: white;
	color: black;
	padding: 2em;
	border: none;
}

.barOverlay {
	background-color: #000000aa;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

@media (max-width: 1000px) {
	.link {
		color: white;
	}
}

@keyframes hamburger {
	0% {
		transform: translateX(8em);
	}
	100% {
		transform: translateX(0);
	}
}
