/* Whole Site */
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	--basicblue: #0a5a92;
	font-family: Arial, Helvetica, sans-serif;
}

.quote {
	padding: 3em 8em;
	text-align: center;

	font-size: 1.2em;
}

.splash {
	height: 100vh;
	z-index: -1;
}
.half {
	height: 50vh;
}

.quarter {
	top: 25% !important;
}

.splashText {
	position: absolute;
	width: 100vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	font-family: 'arial';
	color: #fff;
	text-align: center;
	text-shadow: 0 0 0.5em #00000066;
}

.Button {
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: 1em;
	background-color: #0a5a92;
	border-radius: 2em;
	text-decoration: none;
	color: #fff;
	transition: all 0.1s ease-in-out;
	text-shadow: none !important;
}

.Button:hover {
	background-color: #0066ff;
}

.splitSection {
	max-width: 100vw;
	padding: 5em;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-content: space-between;

	align-items: center;
}

.reverse {
	flex-direction: row-reverse;
	text-align: right;
}

.splitText {
	font-size: 1.2em;
	width: 60%;
}

.splitImage img {
	height: 50em;
}

.columnGroup {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 20vh;

	max-width: 100vw;
}

.column {
	padding: 1em;
	text-align: center;
}

.blue {
	background-color: var(--basicblue);
	color: #fff;
}

.bio {
	padding: 4rem;
	font-size: 1.2rem;
}

.small img {
	height: 20em;
}
